.Login {
  .btn {
    text-align: center;
  }

  .pageTitArea {
    padding-top: 55px;
    padding-bottom: 57px;
    text-align: center;
    font-family: "NotoB";

    h2 {
      margin: 20px 0 10px;
      font-size: 48px;
      line-height: 48px;
      color: #222222;
    }

    .titEn {
      font-family: "HB";
      font-weight: "normal";
    }

    .loginCon {
      margin: 0 auto;
      padding-top: 50px;
      width: 420px;
      border-top: 1px solid #222;

      .btn_wrap {
        margin-top: 25px;
      }
    }
  }

  .img {
    width: 5px;
    height: 5px;
  }

  .inpWrap {
    position: relative;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30%;
  }

  .btnWrap {
    position: relative;
    width: 350px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 1px;
    border-color: black;

    .btn-upper {
      border-radius: 5px;
      position: relative;

      .black-bg {
        position: absolute;
        width: 350px;
        background-color: black;
      }

      .white-bg {
        position: absolute;
        background-color: white;
        width: 0;
        height: 50px;
        z-index: 10;
        transition: width 0.3s;

        &.hover {
          width: 350px;
        }
      }

      .loginBtn {
        position: relative;
        background-color: transparent;
        padding: 10px;
        width: 350px;
        z-index: 11;
        border: 1px solid #222222;
        color: #fff;
        border-radius: 5px;
        padding: 10px;

        &.hover {
          color: black;
        }
      }
    }
  }

  .btnWrap2 {
    position: relative;
    width: 350px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    border-radius: 1px;
    border-color: white;

    .btn-upper2 {
      border-radius: 5px;
      position: relative;

      .black-bg2 {
        position: absolute;
        width: 350px;
        height: 100%;
        background-color: white;
      }

      .white-bg2 {
        position: absolute;
        background-color: grey;
        width: 0;
        height: 100%;
        z-index: 10;
        transition: width 0.3s;

        &.hover {
          width: 350px;
        }
      }

      .loginBtn2 {
        position: relative;
        background-color: transparent;
        padding: 10px;
        width: 350px;
        z-index: 11;
        border: 1px solid #222222;
        color: black;
        border-radius: 5px;
        padding: 10px;

        &.hover {
          color: white;
        }
      }
    }
  }

  .inpText input {
    width: 350px;
    height: 40px;
    padding: 0 8px;
    line-height: 40px;
    text-indent: 4px;
    border: 1px solid #dcdcdc;
    outline: none;
    box-sizing: border-box;
    display: flex;
    margin: 0 auto;
  }

  .inputContainer {
    position: relative;
    width: 80%;
  }

  .login-container {
    margin: 300px auto;
    display: flex;
    max-height: 800px;
    max-width: 500px;
    border: 2px solid lightgray;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .loginBox .loginInfoFind {
    text-align: center;
  }

  .loginBtn2 {
    position: relative;
    width: 350px;
    background: white;
    border-radius: 5px;
    padding: 10px;
    color: #555555;
    border: 1px solid #999999;
    margin-right: 10px;
  }

  .btnSizeL {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 5px;
  }

  .snsLogin {
    padding: 40px 10px 10px 10px;
    background: #f9f9f9;
    text-align: center;
    margin: auto;
    width: 350px;
    height: 300px;

    .snsSign {
      img {
        width: 50px;
        height: 50px;
        margin-right: 200px;
      }
      li {
        display: inline-block;
        vertical-align: top;
        padding: 0 10px;
      }

      .snsKatalk {
        background-color: #f9e000;
        margin-bottom: 5px;
      }

      .snsFabook {
        background-color: #3c5a99;
        margin-bottom: 5px;
      }

      .snsLine {
        background-color: #1fc700;
        margin-bottom: 5px;
      }
    }
  }
}

/*.outer {
  width: 300px;
  height: 300px;
  position: relative;
  color: black;
}

.inner {
  width: 0;
  height: 300px;
  transition: width 0.3s;

  :hover {
    width: 300px;
  }
}*/

/*.loginBtn:hover {
  background: white;
}

.loginBtn:hover {
  background: whitesmoke;
}

.loginBtn2:hover {
  background: #999999;
}*/
