$slick-font-path: "./fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "./" !default;
$slick-arrow-color: white !default;
$slick-dot-color: #555 !default;
$slick-dot-color-active: white !default;
$slick-prev-character: "\2190" !default;
$slick-next-character: "\2192" !default;
$slick-dot-character: "\2022" !default;
$slick-dot-size: 16px !default;
$slick-opacity-default: 1 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.5 !default;

.Main {
  .mainSlider {
    padding-left: 89px;
    overflow: hidden;

    .slideImg {
      position: relative;
      overflow: hidden;

      &:focus {
        outline: none;
      }

      .slideTextWrap {
        position: absolute;
        top: 30%;
        left: 100px;
        min-width: 600px;
        height: 50%;
        z-index: 7998;

        .titleText {
          height: 108px;
          font-size: 40px;
          font-weight: 900;
        }

        .subText {
          height: 48px;
          margin-top: 16px;
          font-size: 14px;
          font-weight: 600;
        }

        .detailBtn {
          width: 140px;
          height: 40px;
          margin-top: 36px;
          background-color: transparent;
          border: 1px solid #555;
          cursor: pointer;
        }
      }

      img {
        width: 100%;
        max-width: 100%;
        max-height: auto;
        object-fit: contain;
      }
    }
  }

  .subSlider {
    width: 100%;
    margin: 0;
    padding-left: 89px;
    overflow: hidden;

    .slideImg {
      height: 100%;
      position: relative;

      &:focus {
        outline: none;
      }

      .slideTextWrap {
        position: absolute;
        top: 29%;
        left: 100px;
        width: 600px;
        height: 178px;
        z-index: 7999;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        .titleText {
          height: 72px;
          font-size: 30px;
          font-weight: 900;
        }

        .subText {
          height: 48px;
          font-size: 14px;
          font-weight: 600;

          p {
            margin-top: 26px;
          }
        }

        .detailBtn {
          width: 140px;
          height: 40px;
          margin-top: 26px;
          padding: 10px 0;
          background-color: transparent;
          border: 1px solid white;
          color: white;
          cursor: pointer;
        }
      }

      img {
        width: 100%;
        max-width: 100%;
        max-height: auto;
        object-fit: contain;
      }
    }
  }

  .bestProContainer {
    padding: 0 110px 80px 200px;

    .bestProTitleWrap {
      min-width: 1070px;
      padding-top: 80px;
      height: 155px;
      margin: 0 auto;
      text-align: center;

      p:nth-child(1) {
        font-size: 26px;
        font-weight: 900;
        color: #222;
      }

      p:nth-child(2) {
        margin-top: 15px;
        font-size: 13px;
        font-weight: 600;
        color: #999;
      }
    }
  }

  .onlineContainer {
    padding: 0 110px 80px 200px;

    .onlineTitleWrap {
      min-width: 1070px;
      padding-top: 80px;
      height: 155px;
      margin: 0 auto;
      text-align: center;

      p:nth-child(1) {
        font-size: 26px;
        font-weight: 900;
        color: #222;
      }

      p:nth-child(2) {
        margin-top: 15px;
        font-size: 13px;
        font-weight: 600;
        color: #999;
      }
    }
  }

  .reviewContainer {
    .reviewTitleWrap {
      min-width: 1070px;
      height: 175px;
      padding: 80px 60px 0 150px;
      margin: 0 auto;
      text-align: center;

      p:nth-child(1) {
        font-size: 26px;
        font-weight: 900;
        color: #222;
      }

      p:nth-child(2) {
        margin-top: 15px;
        font-size: 13px;
        font-weight: 600;
        color: #999;
      }
    }
  }
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;

  li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    margin-bottom: 60px;
    padding: 0;
    overflow: hidden;
    cursor: pointer;

    button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer;

      &:hover,
      &:focus {
        outline: none;

        &:before {
          opacity: $slick-opacity-on-hover;
          color: white;
        }
      }

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        content: $slick-dot-character;
        width: 20px;
        height: 20px;
        font-family: $slick-font-family;
        font-size: $slick-dot-size;
        line-height: 20px;
        text-align: center;
        color: $slick-dot-color;
        opacity: $slick-opacity-not-active;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }

    &.slick-active button:before {
      color: $slick-dot-color-active;
      opacity: $slick-opacity-default;
    }
  }
}
