.Cart {
  height: 270px;
  padding: 0 60px;

  .pageTitleArea {
    padding: 55px 0 57px 0;
    text-align: center;

    h2 {
      margin: 20px 0 10px;
      font-size: 48px;
      font-weight: 400;
      letter-spacing: -0.5px;
      line-height: 48px;
    }
  }

  .cartContainer {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 980px;
    min-height: 643px;
    padding-bottom: 120px;

    .cartList {
      width: 660px;
      border-top: 1px solid #222;
      font-size: 16px;
      color: #555;

      .cartCate {
        height: 40px;
        border-bottom: 1px solid #eee;
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
          width: 25%;
          height: 40px;
          text-align: center;
          line-height: 40px;
          font-size: 13px;
          font-weight: 600;
          color: #222;

          &:nth-child(1) {
            width: 50%;
          }
        }
      }

      .cartItem {
        width: 100%;
        height: 140px;
        border-bottom: 1px solid #eee;
        display: flex;
        justify-content: space-between;
        align-items: center;

        div {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .itemInfo {
          width: 50%;
          display: flex;
          justify-content: space-evenly;
          align-items: center;

          img {
            max-height: 140px;
            max-width: auto;
            object-fit: contain;
          }

          p {
            text-align: center;
            font-size: 14px;
            font-weight: 600;
            color: #555;
          }
        }

        .countItem {
          width: 25%;
          height: 140px;

          .quantity {
            width: 130px;
            height: 40px;
            border: 1px solid #dcdcdc;
            vertical-align: top;
            display: flex;
            justify-content: space-between;
            overflow: hidden;

            button {
              width: 40px;
              height: 40px;
              background: #fff;
              cursor: pointer;

              &:hover {
                background: #eee;
              }

              &:focus {
                outline: none;
              }
            }

            input {
              width: 38px;
              height: 38px;
              font-size: 14px;
              text-align: center;
              color: #555;
              background: transparent;

              &:focus {
                outline: transparent;
              }
            }
          }
        }

        .itemCost {
          width: 25%;
          height: 140px;
          display: flex;
          justify-content: flex-end;

          .price {
            padding: 10px;
            text-align: center;
            font-size: 15px;
            color: #555;
          }
          .delItem {
            width: 16px;
            height: 16px;
            background: url("/images/delBtn.png") no-repeat center center;
            padding: 25px;
            outline: none;
          }
        }
      }
    }

    .continueShopping {
      display: flex;
      margin-top: 50px;
      margin-right: 35px;

      button {
        height: 40px;
        margin: 0 auto;
        padding: 0 25px;
        background: transparent;
        border: 1px solid #999;
        font-size: 14px;
        font-weight: 500;
        color: #555;
        transition: background-color 0.2s ease-in-out;
        cursor: pointer;

        &:focus {
          outline: none;
        }

        &:hover {
          background-color: #999;
          color: #fff;
        }
      }
    }

    .noti {
      margin-right: 35px;
      margin-top: 50px;
      padding: 20px;

      dt {
        margin-bottom: 16px;
        font-size: 14px;
        font-weight: 600;
        color: #222;
      }

      dd {
        font-size: 12px;
        letter-spacing: 0.5px;
        line-height: 20px;
        color: #555;
      }
    }

    .countPrice {
      width: 280px;
      max-height: 299px;
      border: 1px solid #dcdcdc;
      border-top-color: #222;

      .totalPrice {
        padding: 5px 28px;
        border-bottom: 1px solid #eee;

        .price {
          font-size: 13px;
          font-weight: 600;
          padding: 17px 0 16px;
        }

        .pdtPrice {
          display: flex;
          justify-content: space-between;
          align-items: center;
          color: #222;

          .pdtPriceNum {
            font-size: 15px;
            font-weight: 800;

            &::after {
              content: "원";
              font-weight: 600;
              font-size: 14px;
            }
          }
        }

        .discount {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-top: 1px solid #eee;
          padding-bottom: 28px;

          .discountNum {
            font-size: 15px;
            color: red;

            &::after {
              content: "원";
              font-weight: 500;
              font-size: 14px;
            }
          }
        }

        .expectPrice {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 60px;
          font-size: 14px;

          .expectNum {
            font-size: 19px;
            font-weight: 800;

            &::after {
              content: "원";
              font-weight: 600;
              font-size: 17px;
            }
          }
        }
      }

      .order {
        padding: 20px 28px 30px;
        background-color: #f9f9f9;

        button {
          min-width: 222px;
          height: 48px;
          background-color: #dcdcdc;
          font-size: 16px;
          color: #fff;

          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}
