.bigContainer {
  .layerPop.layerScale {
    position: absolute;
    left: 50%;
    top: 50px;
    margin-top: 0px;
  }

  .layerPop {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    width: 700px;
    height: 0;
    padding: 20px 40px;
    margin-top: 0;
    margin-left: -350px;
    background: #fff;
    z-index: 1000;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }

  body {
    font-weight: normal;
    font-size: 14px;
    color: #555;
    line-height: 20px;
  }
}

element.style {
  display: block;
}
.layerPop.layerScale {
  position: absolute;
  left: 50%;
  top: 50px !important;
  margin-top: 0 !important;
}
.layerPop {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 700px;

  padding: 20px 40px;

  margin-left: -350px;
  background: #fff;
  z-index: 1000;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
div,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
button,
abbr,
acronym,
address,
code,
del,
dfn,
em,
img,
strong,
sub,
sup,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
hr {
  margin: 0;
  padding: 0;
  font-family: "NotoL";
  font-size: 100%;
  font-weight: normal;
}

body {
  font-family: "NotoL", dotum, "돋움", sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #555;
  line-height: 20px;
}
