.container {
  position: relative;
  padding-left: 0%;
  padding-bottom: 120px;
  box-sizing: border-box;
  max-width: 80%;
  margin: auto;

  button {
    cursor: pointer;
  }

  .List {
    margin-top: 5%;
    margin-right: 150px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    text-align: right;
    right: 60px;
    top: 40px;
    z-index: 1;

    li {
      &.hover {
        width: 350px;
        color: blue;
      }
    }

    .topLinkFirst {
      all: unset;
      margin-right: 20px;
      &.hover {
        color: grey;
      }
    }

    .topLink {
      all: unset;
    }

    ol {
      display: flex;
      border-bottom: 1px solid #dcdcdc;
      margin-right: 20px;
    }
  }

  .logoImage {
    margin: auto;
  }

  .joinTitle {
    padding-top: 60px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 30px 0;
    font-size: 30px;
    font-family: "NotoB";
    font-weight: bold;
    color: #222;
  }

  .logoImage {
    display: flex;
    justify-content: center;
  }

  .memberInfo {
    height: 40px;
    font-family: "NotoB";
    font-size: 16px;
    color: #222;
    width: 60%;
  }
}

.motherInputContainer {
  display: inline-block;
  width: 80%;
}

.inputBigContainer {
  margin-top: 5%;
  color: #111;
  border-color: #222222;
  height: 40px;
  background: #fff;
  outline: none;
  box-sizing: border-box;
  font-family: "NotoL";
  font-size: 14px;
  vertical-align: middle;
  display: inline-flex;
  justify-content: flex-end;
  margin-bottom: 5px;
}

.inputStyle {
  width: 620px;
  border: 1px solid #e5e5e5;
  background: #fff;
  outline: none;
  box-sizing: border-box;
  height: 40px;
  margin-bottom: 15px;
}

.doubleCheck {
  width: 100px;
  margin-left: 5px;
}

.error {
  color: red;
  font-size: 12px;
  margin-bottom: 10px;
}

.emailSelect {
  width: 100px;
  height: 40px;
  margin-left: 5px;
}

.inputText input {
  width: 100%;
  height: 40px;
  padding: 0 8px;
  line-height: 40px;
  color: #555;
  text-indent: 4px;
  border: 1px solid #dcdcdc;
  outline: none;
  box-sizing: border-box;
}

.inputEmail {
  display: flex;
}

.emailDivision {
  margin-top: 50px;
}

.ps {
  padding-top: 15px;
  font-size: 12px;
  color: #999;
}

.useAgreement {
  color: #222;
  font-family: "NotoB";
  font-size: 16px;
  padding: 20px 0;
}

.description {
  border: 1px solid #f7f7f7;
  background: #f7f7f7;
  padding: 20px 0;
}

.joinTermsContent {
  border: 1px solid #f7f7f7;
  background: #f7f7f7;
  padding: 20px 0;
  text-align: center;
  color: #999;
}

.checkAllAgree {
  margin-top: 5px;
  width: 100%;
  height: 40px;
  display: inline-block;
  color: #999;
  font-size: 14px;
  line-height: 40px;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  background-color: white;

  &:hover {
    background-color: grey;
    color: white;
  }
}

.checkbox {
  color: #000;
  vertical-align: middle;
  display: block;

  button {
    cursor: pointer;
  }
}

.agreeService {
  margin-top: 5px;
}

.joinTip {
  padding-top: 15px;
  font-size: 12px;
  color: #999;
  clear: both;
  display: block;
}

.joinBtn {
  width: 100%;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  color: white;
  background-color: black;

  &:hover {
    background-color: #59b1eb;
  }
}

.loginOn {
  display: inline-flex;
  border: solid ghostwhite left;
  margin: 10px;
}

.loginInfoFind {
  display: flex;
  justify-content: center;
  .findId {
    margin-right: 15px;
  }
}

//버튼에 마우스 버튼 올렸을 시 효과 변하는 부분. 아래부터입니다. btnWrap
.btnWrap {
  position: relative;
  width: 100%;
  margin: auto;
  border-radius: 1px;
  border-color: black;

  .btn-upper {
    border-radius: 5px;
    position: relative;

    .black-bg {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: black;
    }

    .white-bg {
      position: absolute;
      background-color: white;
      width: 0;
      height: 50px;
      z-index: 10;

      transition: width 0.3s;

      &.hover {
        width: 100%;
      }
    }

    .loginBtn {
      position: relative;
      background-color: transparent;
      padding: 10px;
      width: 100%;
      z-index: 11;
      border: 1px solid #222222;
      color: #fff;
      border-radius: 5px;
      padding: 10px;

      &.hover {
        color: black;
      }
    }
  }
}

//버튼 효과 넣은 부분 입니다. 버튼이 2개이기 때문에 2번째 회원가입으로 되어있는 버튼은 btnWrap2로 넣었습니다.
.btnWrap2 {
  position: relative;
  width: 350px;
  height: 130px;
  margin: auto;
  border-radius: 1px;
  border-color: white;

  .btn-upper2 {
    border-radius: 5px;
    position: relative;

    .black-bg2 {
      position: absolute;
      width: 350px;
      height: 100%;
      background-color: white;
    }

    .white-bg2 {
      position: absolute;
      background-color: grey;
      width: 0;
      height: 100%;
      z-index: 10;
      transition: width 0.3s;

      &.hover {
        width: 100px;
      }
    }

    .loginBtn2 {
      position: relative;
      background-color: transparent;
      padding: 10px;
      width: 100px;
      z-index: 11;
      border: 1px solid #e5e5e5;
      color: black;
      border-radius: 0px;
      padding: 10px;

      &.hover {
        color: white;
      }
    }
  }
}

.inputMail .selectbox {
  float: left;
  width: 34%;
  margin-left: 1%;
  box-sizing: border-box;
}

.selectbox {
  display: inline-block;
  position: relative;
  width: 240px;
  height: 40px;
  vertical-align: middle;
  border: 1px solid #dcdcdc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;

  .title {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 38px;
    line-height: 38px;
    padding-right: 30px;
    text-align: left;
    text-indent: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  button {
    display: inline-block;
    background: none;
    border: none;
    outline: none;
    font-family: "NotoL";
    font-size: 14px;
    letter-spacing: 0;
    color: #555;
    vertical-align: middle;
    cursor: pointer;
  }

  .selList {
    display: none;
    position: absolute;
    top: 39px;
    left: -1px;
    width: 100%;
    background: #fff;
    border: 1px solid #555555;
    border-top: none;
    opacity: 0;
    filter: alpha(opacity=0);
  }
}
