.SideNav {
  transition: transform 0.5s;

  .sideNavWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 90px;
    height: 100%;
    border-right: 1px solid #dcdcdc;
    background-color: white;
    z-index: 9991;

    .sideNavMenu {
      width: 89px;
      height: 100%;
      padding: 28px 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      overflow: hidden;
      z-index: 9992;

      .sideGoHome {
        width: 98px;
        height: 160px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: flex-start;

        .plusIcon {
          width: 26px;
          height: 26px;
          cursor: pointer;

          img {
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
          }
        }
      }

      .sideMenu {
        height: 18px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        span {
          width: 24px;
          border: 0.5px solid #555;
        }
      }

      .sideBottom {
        width: 25px;
        height: 210px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .myInfo {
          width: 25px;
          height: 46px;
          display: flex;
          justify-content: center;
          align-items: flex-start;

          img {
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
            cursor: pointer;
          }
        }

        .sideIcon {
          width: 25px;
          height: 210px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;

          img {
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
            cursor: pointer;
          }

          .myProfile {
            visibility: hidden;
          }
        }
      }
    }
  }

  .hideNav {
    width: 270px;
    height: 100%;
    background-color: white;
    border-left: 1px solid white;
    position: fixed;
    top: 0;
    left: 89px;
    z-index: 9992;
    animation: activeMenu 0.4s ease;

    @keyframes activeMenu {
      0% {
        opacity: 0;
        left: 0;
      }
      100% {
        opacity: 1;
        left: 89px;
      }
    }

    .hideNavWrap {
      width: 270px;
      height: 100%;
      padding: 20px 40px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      div {
        width: 100%;
      }

      .logoWrap {
        height: 13%;

        img {
          width: 130px;
          height: auto;
          object-fit: contain;
        }
      }

      .menuList {
        height: 50%;
        padding-top: 33px;

        li {
          font-size: 22px;
          font-weight: 600;
          color: #999;
          margin-bottom: 16px;
          cursor: pointer;

          img {
            width: 140px;
            height: auto;
            margin-top: 45px;
          }
        }

        &:nth-child(5),
        &:nth-child(6) {
          margin-bottom: 0;
        }

        .noticeList {
          width: 140px;
          height: 74px;
          margin-top: 40px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;

          p {
            font-size: 13px;
            line-height: 10px;
          }
        }
      }

      .bottomList {
        height: 25%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .mergeMem {
          width: 140px;
          height: 30px;
          border: 1px solid #dcdcdc;
          background-color: #eee;
          color: #555;
          cursor: pointer;
        }

        .bottomWrap {
          .lang {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            li {
              margin: 20px 0;
              padding: 0 10px;
              font-size: 11px;
              color: #999;
              border-right: 1px solid #ddd;
              cursor: pointer;

              &:hover {
                color: #222;
              }
            }

            li:nth-child(1) {
              padding-left: 0;
              color: #222;
            }

            li:nth-child(3) {
              border-right: 0;
            }
          }

          img {
            width: 140px;
            height: auto;
            object-fit: contain;
            cursor: pointer;
          }
        }
      }
    }
  }

  .hideNavOff {
    display: none;
  }

  .overlay {
    .wrapOthers {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      position: fixed;
      z-index: 9989;
    }

    .wrapOff {
      display: none;
    }
  }

  .asideBtn {
    width: 60px;
    z-index: 9999;

    .chatBtn {
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
      cursor: pointer;

      .offchat,
      .naverChat,
      .kakaoChat,
      .webChat {
        position: fixed;
        bottom: 30px;
        right: 30px;
        width: 60px;
        height: 60px;
        background-color: #ccc;
        background-image: url(/images/offchat.png);
        border-radius: 100%;
        transition: transform 0.3s;
      }

      &:focus {
        .offchat {
          background-image: url(/images/offchat.png);

          &:hover {
            background-color: #222;

            &:active {
              background-image: url(/images/onchat.png);
            }
          }
        }

        .naverChat {
          background-image: url(/images/offnaver.png);
          transform: translate(0, -225px);

          &:hover {
            background-image: url(/images/onnaver.png);
          }
        }

        .kakaoChat {
          background-image: url(/images/offkakao.png);
          transform: translate(0, -150px);

          &:hover {
            background-image: url(/images/onkakao.png);
          }
        }

        .webChat {
          background-image: url(/images/offwebChat.png);
          transform: translate(0, -75px);

          &:hover {
            background-image: url(/images/onwebChat.png);
          }
        }
      }

      .scroll {
        transform: translate(0, -235px);
      }

      &:focus {
        .scroll:nth-child(1) {
          background-image: url(/images/offwebChat.png);
          transform: translate(0, -310px);

          &:hover {
            background-image: url(/images/onwebChat.png);
          }
        }

        .scroll:nth-child(2) {
          background-image: url(/images/offnaver.png);
          transform: translate(0, -460px);

          &:hover {
            background-image: url(/images/onnaver.png);
          }
        }

        .scroll:nth-child(3) {
          background-image: url(/images/offkakao.png);
          transform: translate(0, -385px);

          &:hover {
            background-image: url(/images/onkakao.png);
          }
        }

        .scroll:nth-child(4) {
          background-image: url(/images/offchat.png);

          &:hover {
            background-color: #222;

            &:active {
              background-image: url(/images/onchat.png);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-height: 900px) {
  .noticeList {
    visibility: hidden;
  }
}

@media screen and (max-height: 650px) {
  .mergeMem {
    visibility: hidden;
  }
}

@media screen and (max-height: 560px) {
  .bottomList {
    visibility: hidden;
  }
}
