.MainStory {
  padding: 0 50px;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;

  .mainStory {
    width: 73%;
    padding-left: 200px;
    display: flex;
    justify-content: flex-start;
    z-index: 100;

    .storyInfo {
      width: 42%;
      height: 100%;
      min-width: 253px;
      min-height: 620px;
      padding: 0 65px 0 50px;
      border: 1px solid #dcdcdc;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;

      p {
        font-weight: 900;
        color: #222;
      }

      .subTitle {
        height: 40px;
        margin-top: 10%;
        font-size: 15px;
      }

      .mainTitle {
        margin-top: 20%;
        font-size: 30px;
      }

      .caption {
        margin-top: 30%;
        font-size: 13px;
        line-height: 24px;
        color: #555;
      }

      .goStoryBtn {
        background-color: transparent;
        padding-bottom: 2px;
        border-bottom: 1px solid #555;
        outline: none;
        margin-bottom: 30%;
        font-size: 13px;
        font-weight: 600;
      }
    }

    .storyVideo {
      width: 78%;
      min-width: 537px;
      height: auto;
      background-image: url(/images/storyItem.png);
      background-position: center;
      overflow: hidden;

      .storyItem {
        max-width: auto;
        max-height: 100%;
        object-fit: contain;
      }
    }
  }

  .storySlide {
    width: 500px;
    height: 620px;
    border: 1px solid #dcdcdc;

    .todayPick {
      width: 330px;
      padding-top: 50px;
      margin: 0 auto;
      text-align: center;

      h3 {
        margin-bottom: 20px;
      }

      p {
        font-size: 15px;
      }
    }

    .Each {
      width: 400px;
      height: 470px;
      margin: 0 auto;
      padding-top: 0px;
      margin-top: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      cursor: pointer;

      &:focus {
        outline: none;
      }

      .eachProduct {
        .imgBox {
          max-width: 280px;
        }
      }

      .hiddenBox {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        z-index: 10;

        .box {
          display: flex;
          align-items: center;
          justify-content: center;

          .buy {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 114px;
            height: 40px;
            margin-right: 5px;
            border: 1px solid black;
            transition: background-color 0.2s ease-in-out;
            font-size: 14px;

            &:hover {
              border: none;
              background-color: #3ab5b7;
              color: #fff;
            }
          }

          .icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            color: #222;
            border: 1px solid black;
            border-right: none;
          }

          .wish {
            border-right: 1px solid black;
          }

          a {
            color: #222;
          }
        }

        &.On {
          transform: translateY(-60%);
          transition: transform 0.2s ease-in-out;
        }

        &.Off {
          transform: translateY(140%);
          transition: transform 0.2s ease-in-out;
        }
      }
    }
  }
}
