.Review {
  padding: 0 60px 60px 150px;

  .reviewWrap {
    width: 1200px;
    height: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .reviewContent {
      width: 250px;
      height: 250px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      img {
        width: 300%;
        height: auto;
        object-fit: contain;
        cursor: pointer;
      }

      .reviewInfo {
        width: 240px;
        height: 60px;
        padding: 12px 2px 15px;
        border-bottom: 1px solid #f3f3f3;
        text-align: center;

        .reviewTitle {
          font-size: 12px;
          font-weight: 600;
          color: #000;
        }

        .reviewDate {
          font-size: 11px;
          font-weight: 600;
          color: #ccc;
        }
      }
    }
  }
}
